p {
    font-family: Arial;
    margin-top: 0;
    margin-bottom: 0;
}

.deal {
    font-weight: bold;
    font-size: 28px;
}

.sales {
    margin-top: 10px;
    font-size: 20px;
    color: rgb(209, 5, 5);
    font-style: italic;
}