p {
    font-family: Arial;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 20px;
}

.free {
    font-weight: bold;
    margin-bottom: 10px;
}

.commat {
    color: gray;
    font-weight: lighter;
}

.web {
    margin-bottom: 30px;
    width: 700px;
    line-height: 30px;
}

.chip {
    color: rgb(6, 174, 174);

}