.youtube-music {
    background-color: black;
    width: 400px;
}

p {
    margin-top: 0;
    margin-bottom: 0;
    color: white;
}

.install {
    font-size: 20px;
    font-weight: bold;
    
    padding-top: 20px;
    padding-bottom: 10px;
    margin-left: 15px;
}

.you {
    color: gray;
    width: 300px;
    padding-bottom: 20px;
    margin-left: 15px;
}