.google-format {
    text-align: center;

}

.logo {
    width: 200px;
    
   
}

.rounded-corner {
    font-size: 17px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 250px;
    width: 500px;
    border: 1px solid rgb(187, 181, 181);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
    margin-top: 10px;
}

button {
    margin-top: 30px;
    margin-right: 10px;
    padding: 10px 20px;
    border: none;
    font-size: 17px;
}